* {
  box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;

    font-family: 'Roboto';

    display: flex;
    flex-direction: column;
}

#nav {
    width: 100%;

    background-color: #fff;
    
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.55) ;

    display: flex;

    z-index: 10;
}

#right-logo {
    font-size: 2em;
    
    margin: 0.25em 1.5em 0;

    font-family: 'Calligraffitti';
}

#left-menu {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    font-weight: 400;
}

#left-menu a {
    margin: 0 0.25em .2em;
    color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
    
    text-underline-offset: 0.25em;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms, transform 300ms;
}

#left-menu a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
    transform: translateY(-x.1em);
}

#main {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.card {
    height: 100%;
    width: 100vw;
    flex: 0 0 auto;
    position: relative;
}

.cardimg {
    width: 100%;
    height: 100%;

    background-size: cover;
    transition: filter 300ms;
    

    display: flex;
}

.cardimg::after {
    content: "";
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardcontent {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;


}

#foot {
    width: 100%;

    color: rgba(255, 255, 255, 0.55);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

    position: absolute;
    bottom: 0;
    text-indent: 1em;

    padding: 1em 0 0.25em;

    font-family: 'Calligraffitti';
}


