body {
    margin: 0;
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

#nav {
    width: 100%;

    background-color: #fff;
    
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1) ;
    
    position: absolute;
}

#right-logo {
    font-size: 2em;
    
    margin: 0.25em 1.5em 0;

    font-family: 'Calligraffitti';
}

#left-menu {
    
}

#main {
    height: 100%;
    width: 100%;
}

#foot {
    width: 100%;

    position: absolute;
    bottom: 0;

    margin: 1em 2em;
    
    font-family: 'Calligraffitti';
}